include coffee_tag/coffee-tag.desktop
include coffee_tag/media/*.png
include coffee_tag/media/*.gif
include coffee_tag/website/templates/index.html.jinja
include coffee_tag/website/templates/login.html
include coffee_tag/website/templates/user.html
include coffee_tag/website/templates/admin.html.jinja
include coffee_tag/website/static/cup.gif
include coffee_tag/website/static/admin.css
include coffee_tag/website/static/admin.js
include coffee_tag/mail/template/*.html.jinja
