[Desktop Entry]
Type=Application
Name=Coffee Tag
Exec=/home/coffee/.local/bin/coffee_tag --no-authentication --no-monitor 0.25 /home/coffee/coffee/coffee.db
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true