[Unit]
Description=Coffee Tag
PartOf=graphical-session.target
After=graphical-session.target

[Service]
Type=exec
ExecStart=/home/pi/.local/bin/coffee_tag --no-authentication 0.25 /home/pi/coffee/coffee.db
WorkingDirectory=/home/pi/coffee
Restart=always

[Install]
WantedBy=graphical-session.target