[Unit]
Description=Coffee Tag
After=network.target

[Service]
Environment=DISPLAY=:0
ExecStart=/home/pi/.local/bin/coffee_tag --no-authentication 0.25 /home/pi/coffee/coffee.db
WorkingDirectory=/home/pi/coffee
Restart=always
User=pi

[Install]
WantedBy=multi-user.target