[Desktop Entry]
Type=Application
Name=Coffee Tag
Exec=/home/coffee/.local/bin/coffee_tag 0.25 /home/coffee/coffee/coffee.db --power-gpio 23 -d 20 --verbose
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true